<!DOCTYPE html>
<html lang="en">
<head>  
	<meta charset="UTF-8">
	<title>Piotr Rutkowski - API</title>

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<style>
		body 	{ padding-top:30px; }
		.jumbotron p { 
      font-size: 2rem;
    }
    
	</style>

</head>

<body class="container">
	<main>
		<div class>
			<div class="jumbotron">
			
				<div class="container">
					<h1>Backend for prutkowski.tech</h1>
					<p>This is the root endpoint! See below for deployment status and other endpoints!</p>
          <a href="https://redesign.prutkowski.tech">prutkowski.tech</a> - <img src="https://api.netlify.com/api/v1/badges/3c332460-92fb-4831-b621-87b5bd677ddf/deploy-status"/>
          <p>____________________________________</p>
          <br/>
          <h3><code>/gallery/getAllPhotos</code></h3>
					<p>
					  Retrieve all images from MS Azure container, and return <code>fullRes</code> and <code>lowRes</code> URLs.
					</p>
				</div>		
			</div>
	</main>

	<footer>
		
	</footer>
	
</body>
</html>